# `MEDUSA`
aka. Dynamic-Prospective LCA aka. Union(premise, temporalis)

In [1]:
from bw_temporalis import easy_timedelta_distribution, TemporalDistribution, easy_datetime_distribution
import sys
import os
sys.path.append(os.path.realpath('../'))
from medusa.edge_extractor import *
from medusa.matrix_modifier import MatrixModifier
from medusa.medusa_lca import *
from medusa.timeline_builder import TimelineBuilder
import bw2data as bd
import bw2calc as bc
import numpy as np
import pandas as pd

In [2]:
from tests.databases import *
db_abc_loopA_with_biosphere_advanced()

100%|██████████| 2/2 [00:00<00:00, 5118.13it/s]

Vacuuming database
Not able to determine geocollections for all datasets. This database is not ready for regionalization.

100%|██████████| 2/2 [00:00<00:00, 19553.86it/s]

Vacuuming database
Not able to determine geocollections for all datasets. This database is not ready for regionalization.

100%|██████████| 2/2 [00:00<00:00, 5633.72it/s]

Vacuuming database
Not able to determine geocollections for all datasets. This database is not ready for regionalization.

100%|██████████| 4/4 [00:00<00:00, 15033.35it/s]

Vacuuming database

In [3]:
demand = {('foreground', 'A'): 1}
gwp = ('GWP', 'example')

# Static LCA

In [4]:
slca = bc.LCA(demand, gwp)
slca.lci()
slca.lcia()
print(f'Static LCA score: {slca.score}')

Static LCA score: 2657.2222266217445

# `MEDUSA` LCA

In [5]:
SKIPPABLE = [node.id for node in bd.Database('background_2020')] + [
    node.id for node in bd.Database('background_2024')
]

def filter_function(database_id: int) -> bool:
    return database_id in SKIPPABLE

Now we can do the graph traversal and create a timeline of edges:

In [6]:
import warnings
warnings.filterwarnings("ignore")

database_date_dict = {
            datetime.strptime("2008", "%Y"): 'background_2008',
            datetime.strptime("2024", "%Y"): 'background_2024',
        }

In [7]:
mlca = MedusaLCA(slca, filter_function, database_date_dict)

Starting graph traversal

Calculation count: 34

In [8]:
mlca.build_timeline()

All databases in database_date_dict exist as brightway project databases

,hash_producer,date_producer,producer,producer_name,hash_consumer,date_consumer,consumer,consumer_name,amount,interpolation_weights
0,1997,1997-01-01,3,C,2002,2002-01-01,9,B,13.0,{'background_2008': 1}
1,1998,1998-01-01,3,C,2003,2003-01-01,9,B,13.0,{'background_2008': 1}
2,1999,1999-01-01,3,C,2004,2004-01-01,9,B,13.0,{'background_2008': 1}
3,2000,2000-01-01,9,B,2020,2020-01-01,10,A,3.6,{'background_2008': 1}
4,2001,2001-01-01,9,B,2021,2021-01-01,10,A,3.6,{'background_2008': 1}
...,...,...,...,...,...,...,...,...,...,...
69,2035,2035-01-01,9,B,2020,2020-01-01,10,A,0.4,{'background_2024': 1}
70,2036,2036-01-01,9,B,2021,2021-01-01,10,A,0.4,{'background_2024': 1}
71,2037,2037-01-01,9,B,2022,2022-01-01,10,A,0.4,{'background_2024': 1}
72,2038,2038-01-01,9,B,2023,2023-01-01,10,A,0.4,{'background_2024': 1}
73,2039,2039-01-01,9,B,2024,2024-01-01,10,A,0.4,{'background_2024': 1}

In [9]:
mlca.build_datapackage()

In [10]:
mlca.lci()

In [11]:
mlca.lcia()

In [12]:
print('New MEDUSA LCA Score:', mlca.score)
print('Old static LCA Score:', slca.score)

New MEDUSA LCA Score: 2653.3894588780245
Old static LCA Score: 2657.2222266217445

In [13]:
mlca.build_dynamic_biosphere()

B 2000 'methane' (None, None, None)
B 2001 'methane' (None, None, None)
B 2002 'methane' (None, None, None)
B 2003 'methane' (None, None, None)
B 2004 'methane' (None, None, None)
B 2014 'methane' (None, None, None)
B 2015 'methane' (None, None, None)
B 2016 'methane' (None, None, None)
B 2017 'methane' (None, None, None)
A 2018 'carbon dioxide' (None, None, None)
B 2018 'methane' (None, None, None)
A 2019 'carbon dioxide' (None, None, None)
B 2019 'methane' (None, None, None)
A 2020 'carbon dioxide' (None, None, None)
B 2020 'methane' (None, None, None)
A 2021 'carbon dioxide' (None, None, None)
B 2021 'methane' (None, None, None)
A 2022 'carbon dioxide' (None, None, None)
B 2022 'methane' (None, None, None)
A 2023 'carbon dioxide' (None, None, None)
A 2024 'carbon dioxide' (None, None, None)
B 2035 'methane' (None, None, None)
B 2036 'methane' (None, None, None)
B 2037 'methane' (None, None, None)
B 2038 'methane' (None, None, None)
B 2039 'methane' (None, None, None)